* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  z-index: 100;
}

.btn-wsp:hover{
  text-decoration: none;
  color: #0df053;
  background: #fff;
}
